Apuntapp/apuntapp/__pycache__/admin.cpython-38.pyc
Apuntapp/apuntapp/__pycache__/models.cpython-38.pyc
Apuntapp/apuntapp/migrations/0001_initial.py
Apuntapp/apuntapp/migrations/0002_auto_20211011_1649.py
Apuntapp/apuntapp/migrations/0003_auto_20211011_1804.py
Apuntapp/apuntapp/migrations/0004_auto_20211011_1817.py
Apuntapp/apuntapp/migrations/0005_publicacion_titulo.py
Apuntapp/apuntapp/migrations/0006_auto_20211013_1738.py
Apuntapp/apuntapp/migrations/__pycache__/__init__.cpython-38.pyc
Apuntapp/apuntapp/migrations/__pycache__/0001_initial.cpython-38.pyc
Apuntapp/apuntapp/migrations/__pycache__/0002_auto_20211011_1649.cpython-38.pyc
Apuntapp/apuntapp/migrations/__pycache__/0003_auto_20211011_1804.cpython-38.pyc
Apuntapp/apuntapp/migrations/__pycache__/0004_auto_20211011_1817.cpython-38.pyc
Apuntapp/apuntapp/migrations/__pycache__/0005_publicacion_titulo.cpython-38.pyc
Apuntapp/apuntapp/migrations/__pycache__/0006_auto_20211013_1738.cpython-38.pyc
